<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= assetPath %>normalize.css"  type="text/css">
    <link rel="stylesheet" href="<%= assetPath %>cg.css"  type="text/css">
    <link rel="stylesheet" href="<%= assetPath %>nav/nav.css"  type="text/css">
    <%_ if (chapter === 'bigPicture') { _%>
        <link rel="stylesheet" href="<%= assetPath %>bp.css"  type="text/css">
        <link rel="stylesheet" href="<%= assetPath %>anecdote.css"  type="text/css">
    <%_ } _%>
    <%_ if (pageCss) { _%>
        <link rel="stylesheet" href="<%= assetPath %><%= pageCss %>"  type="text/css">
    <%_ } _%> 
</head>

<body>
    <% if (navPath) { %>
        <%- include(navPath) %>
    <% } %>
    <main>
        <%- body %> 
    </main>
</body>
<script src="<%= assetPath %>nav/nav.js"></script>
</html>